In [1]:
import os
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv('../dataset_csv/renal_fl.csv').drop(['tissue_source', 'data_source'], axis=1).iloc[:1000,]
df = df.rename(columns={'oncotree_code': 'diagnosis_label'})
u_cases = df.case_id.unique()
u_slides = df.slide_id.unique()
u_diagnoses = df.diagnosis_label.unique()
u_inst = df.institute.unique()
df['case_id'] = df['case_id'].map({key:val for key,val in zip(u_cases, ['case_%i' % i for i in range(len(u_cases))])})
df['slide_id'] =   df['slide_id'].map({key:val for key,val in zip(u_slides, ['slide_%i' % i for i in range(len(u_slides))])})         
df['diagnosis_label'] = df['diagnosis_label'].map({key:val for key,val in zip(u_diagnoses, ['class_%i' % i for i in range(len(u_diagnoses))])})                                                    
df['institute'] = df['institute'].map({key:val for key,val in zip(u_inst, ['site_%i' % i for i in range(len(u_inst))])})
df.to_csv('../dataset_csv/classification_fl_dummy_dataset.csv', index=False)
df.diagnosis_label.value_counts()

class_0    519
class_1    337
class_2    144
Name: diagnosis_label, dtype: int64

In [46]:
df = pd.read_csv('../dataset_csv/kirc_fl_survival.csv').drop(['tissue_source', 'oncotree_code'], axis=1).iloc[:300,]
df
# df = df.rename(columns={'oncotree_code': 'diagnosis_label'})
u_cases = df.case_id.unique()
u_slides = df.slide_id.unique()
u_inst = df.institute.unique()
df['case_id'] = df['case_id'].map({key:val for key,val in zip(u_cases, ['case_%i' % i for i in range(len(u_cases))])})
df['slide_id'] =   df['slide_id'].map({key:val for key,val in zip(u_slides, ['slide_%i' % i for i in range(len(u_slides))])})                                                       
df['institute'] = df['institute'].map({key:val for key,val in zip(u_inst, ['site_%i' % i for i in range(len(u_inst))])})
df.to_csv('../dataset_csv/survival_fl_dummy_dataset.csv', index=False)
df

      case_id   slide_id  censorship  survival_months institute
0      case_0    slide_0           1            12.65    site_0
1      case_1    slide_1           1            11.89    site_0
2      case_2    slide_2           1            36.79    site_1
3      case_3    slide_3           1            47.17    site_1
4      case_4    slide_4           1             0.53    site_1
..        ...        ...         ...              ...       ...
295  case_293  slide_295           1            56.87    site_2
296  case_294  slide_296           1            68.33    site_2
297  case_295  slide_297           1            11.63    site_2
298  case_296  slide_298           1            60.91    site_2
299  case_297  slide_299           0            15.77    site_2

[300 rows x 5 columns]